In [15]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss
from sklearn.cross_validation import train_test_split

In [16]:
trainData = pd.read_csv('../processed/processed.csv')
trainData.head()

,bathrooms,bedrooms,latitude,longitude,price,num_photos,num_features,num_description,interest_level
0,1.5,3,40.7145,-73.9425,3000,5,0,95,medium
1,1.0,2,40.7947,-73.9667,5465,11,5,9,low
2,1.0,1,40.7388,-74.0018,2850,8,4,94,high
3,1.0,1,40.7539,-73.9677,3275,3,2,80,low
4,1.0,4,40.8241,-73.9493,3350,3,1,68,low

In [17]:
# training data
X = trainData.drop('interest_level', axis=1)
y = trainData.interest_level

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [20]:
clf = RandomForestClassifier(n_estimators=1000)
clf.fit(X_train, y_train)
y_pred = clf.predict_proba(X_test)
print log_loss(y_test, y_pred)

0.644713429324